.likes-container {
  display: inline-flex;
  align-items: center;
  .likes-button {
    font-size: 28px;
    &:hover {
      cursor: pointer;
      color: #c22b3f;
    }
    .fas {
      color: #c22b3f;
    }
    .far {
      color: inherit;
    }
  }
  span {
    margin-left: 16px;
    font-size: 18px;
  }
}