.manage-pane {
  display: flex;
  height: calc(100vh - 72px);
}

.manage-pane-left {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid rgb(238, 239, 242);
  min-width: 259px;
  
  .top {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 259px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(238, 239, 242);
    button {
      display: flex;
      justify-content: center;
      height: 40px;
      width: 100%;
      font-size: 14px;
      font-weight: 700;
      box-sizing: border-box;
      margin: 10px 20px;
      padding: 0 10px;
      background: #0099e5;
      color: white;
      border: 1px solid rgb(0, 153, 229);
      border-radius: 3px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .sources {
    padding: 20px;
    padding-right: 0;
    h3 {
      color: #0099e5;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 700;
    }
    li {
      display: flex;
      justify-content: space-between;
      list-style: none;
      font-size: 14px;
      color: rgb(82, 85, 88);
      line-height: 28px;
      span {
        color: #b9c1c7;
        padding-right: 20px;
      }
    }
  }
}

.post-editor {
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgb(238, 239, 242);
  border-left: 0;
}

.manage-pane-middle {
  box-sizing: border-box;
  background: #f7f8fa;
  .top-bar {
    padding: 20px;
    border-bottom: 1px solid rgb(238, 239, 242);
    line-height: 19px;
    box-sizing: border-box;
    background: white;
    h2 {
      color: #0099e5;
      font-size: 14px;
      span {
        color: #b9c1c7;
        margin-left: 5px;
      }
    }
  }
  .posts-grid-editor {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 615px);
    min-width: 400px;
    background: #f7f8fa;
    padding: 10px;
    .post-grid-item-editor {
      box-sizing: border-box;
      width: 30%;
      height: 200px;
      margin: 10px;
      background-position: center;
      background-size: cover;
      border: 3px solid transparent;
    }
    .selected {
      border: 3px solid rgb(0, 153, 229);
      border-radius: 3px;
    }
  }
}


.manage-pane-right {
  box-sizing: border-box;
  border: 1px solid green;
  width: 335px;
  border: 1px solid rgb(238, 239, 242);
  h2 {
    padding: 20px 0;
    padding-left: 20px;
    box-sizing: border-box;
    line-height: 18.5px;
    font-size: 18px;
    border-bottom: 1px solid rgb(238, 239, 242);
  }
  fieldset {
    display: flex;
    flex-direction: column;
    label {
      color: #0099e5;
      margin-bottom: 10px;
    }
    &:disabled label {
      color: #b3e1f7;
    }
    .input-fields {
      padding: 20px;
      box-sizing: border-box;
    }
    textarea {
      width: 100%;
      height: 115px;
      padding: 8px 10px;
      margin-bottom: 20px;
      box-sizing: border-box;
      resize: none;
      color: rgb(82, 85, 88);
      font-size: 14px;
      border: 1px solid rgba(185, 193, 199, 0.5);
      border-radius: 3px;
      line-height: 1.4em;
      &:focus {
        border-color: #0099e5;
        box-shadow: none;
        outline: none;
        outline-offset: none;
      }
      &:disabled {
        color: #b9c1c7;
      }
    }
    button {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      color: white;
    }

    .delete-button {
      width: 100%;
      padding: 0 30px;
      background: rgb(113, 118, 122);
      border-radius: 3px;
      line-height: 28px;
      font-weight: 700;
      &:hover {
        cursor: pointer;
        background: #7d8387;
      }
      &:disabled {
        cursor: default;
        color: white;
        background: #f2f3f3;
      }
    }

    .form-controls {
      display: flex;
      justify-content: space-around;
      border-top: 1px solid rgb(238, 239, 242);
      padding: 20px;
    }

    .save-button {
      color: white;
      background: #34bf49;
      border: 1px solid #34bf49;
      border-radius: 3px;
      height: 40px;
      padding: 5px 30px;
      margin-left: 20px;
      width: 60%;
      font-weight: 700;
      &:hover {
        cursor: pointer;
        background: #41cb56;
      }
      &:disabled {
        cursor: default;
        border-color: #e1f5e4;
        background: #e1f5e4;
      }
    }
    .cancel-button {
      color: #71767a;
      background: white;
      &:hover {
        cursor: pointer;
        color:  #ff4c4c;
      }
      &:disabled {
        cursor: default;
        color: #d8dadb;
      }
    }
  }
}