nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  font-size: 16px;
  min-height: 72px;
  box-sizing: border-box;

  ul, div {
    display: flex;
    width: 100%;
    align-items: center;
  }

  li {
    list-style: none;
    display: flex;
    white-space: nowrap;
    align-items: center;
  }

  a:hover {
    color: rgb(33, 124, 250);
  }

  #logo {
    font-family: 'Michroma', sans-serif;
    font-size: 18px;
    color: black;
    padding-bottom: 4px;
    &:hover {
      color: rgb(33, 124, 250);
    }
  }
  
}

.nav-left {
  justify-content: flex-start;
  
  li {
    margin-right: 16px;
  }
  a {
    color: #222222;
    font-size: 16px;
  }
}

.nav-right {
  justify-content: flex-end;

  li {
    margin-left: 16px;
  }
}

.nav-login {
  color: rgb(8, 112, 209);
}

.nav-signup {
  background: rgb(8, 112, 209);
  color: white;
  height: 32px;
  padding: 0 16px;
  border-radius: 16px;
  &:hover {
    cursor: pointer;
    background: rgb(33, 124, 250);
  }
  a:hover {
    color: white;
  }
}

.nav-demologin-a {
  color: rgb(8, 112, 209);
  &:hover {
    cursor: pointer;
    color: rgb(33, 124, 250);
  }
}

// logged in elements

.nav-right-user {
  position: relative;

  .nav-right-dropdown {
    position: absolute;
    top: 24px;
  }
  
  .hidden {
    display: none;
  }
}

