nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 64px;
  font-size: 16px;
  min-height: 72px;
  box-sizing: border-box;

  ul, div {
    display: flex;
    width: 100%;
    align-items: center;
  }

  li {
    list-style: none;
    display: flex;
    white-space: nowrap;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }

  a:hover {
    color: rgb(33, 124, 250);
  }

  #logo {
    font-family: 'Michroma', sans-serif;
    font-size: 18px;
    color: black;
    padding-bottom: 4px;
    margin-right: 6px;
    &:hover {
      color: rgb(33, 124, 250);
    }
  }
  
}

.nav-left {
  justify-content: flex-start;
  
  li {
    margin-right: 16px;
  }
  a {
    color: #222222;
    font-size: 16px;
  }
}

.nav-right {
  justify-content: flex-end;

  li {
    margin-left: 16px;
  }
}

.nav-login {
  color: rgb(8, 112, 209);
}

.nav-signup {
  background: rgb(8, 112, 209);
  color: white;
  height: 32px;
  padding: 0 16px;
  border-radius: 16px;
  &:hover {
    background: rgb(33, 124, 250);
  }
  a:hover {
    color: white;
  }
}

.nav-demologin-a {
  color: rgb(8, 112, 209);
  &:hover {
    color: rgb(33, 124, 250);
  }
}

// logged in elements

.nav-right-user {
  position: relative;
  height: 32px;
  width: 32px;
  background-image: image-url("default_user.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  .nav-right-dropdown {
    cursor: default;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.16), 0 0 4px rgba(0,0,0,0.08);
    position: absolute;
    top: 36px;
    border-radius: 8px;
    width: 100px;
    padding: 8px 0;
    li {
      margin: 0;
      box-sizing: border-box;
      height: 36px;
      width: 100%;
      padding: 0 16px;
      &:hover {
        color: white;
        background: rgb(8, 112, 209);
      }
    }
  }
  
  .hidden {
    display: none;
  }
}

.nav-right-plus {
  height: 30px;
  width: 30px;
  background-image: image-url("plus_sign.svg");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}
