form {
  background: white;
  img {
    width: 20%;
    height: auto;
  }
  button {
    box-sizing: border-box;
    margin: 10px;
    padding: 0 10px;
    border: 1px solid #34bf49;
    &:hover {
      cursor: pointer;
      background: #41cb56;
    }
  }
}