.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 36px;
}

.show-page {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.photo-container {
  background: rgb(34, 34, 34);
  min-height: 600px;
  height: calc(100vh - 128px);
  padding: 32px 64px;
  box-sizing: border-box;
  position: relative;
  a {
    position: absolute;
    top: 24px;
    left: 24px;
    height: 40px;
    width: 40px;
    line-height: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: white;
    &:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 50%;
    }
  }
  .photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.details-container {
  padding: 0 64px;
  .details-container-left {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding: 0 16px;
    margin-bottom: 64px;
    .post-details {
      display: flex;
      flex-direction: column;
      .post-details-header {
        margin: 32px 0;
        padding-bottom: 24px;
        border-bottom: 1px solid rgb(215, 216, 219);
        box-sizing: border-box;
        h3 {
          font-size: 24px;
          line-height: 28px;
          font-weight: bold;
          letter-spacing: -0.2px;
          color: rgb(34, 34, 34);
        }
        span {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
    .post-details-info {
      font-size: 18px;
      line-height: 24px;
    }
  }
}