.session-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f8fa;
  height: calc(100vh - 50px);

  .session-form {
    display: flex;
    flex-direction: column;
    background: white;
    width: 400px;
    padding: 32px 40px;
    box-sizing: border-box;
    color: rgb(113, 118, 122);
    border: 1px solid rgb(228, 228, 228);
    border-radius: 2px;
  }
  
  label {
    font-size: 14px;
    font-weight: 400;
  }
  
  button {
    display: flex;
    justify-content: center;
    background-color: #34bf49;
    color: white;
    height: 38px;
    font-size: 16px;
    border: 1px solid #34bf49;
    box-sizing: content-box;
    border-radius: 3px;
    &:hover {
      cursor: pointer;
      background-color: #41cb56;
    }
  }
  
  span, a {
    font-size: 12px;
  }
  
  span {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    a {
      margin-left: 0.25em;
    }
  }

  a {
    text-decoration: none;
    color: rgb(0, 174, 255);
  }
  
  input {
    color: rgb(113, 118, 122);
    padding: 8px 10px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid rgb(228, 228, 228);
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  h3 {
    color:rgb(82, 85, 88);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  form.error > label {
    color: red;
  }

  form.error > input {
    border: 1px solid red;
  }

}
